{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Веб интерфейс для управления рассылками</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main_container">
        <div class="top_bar_conatiner">
            <a href="" class="bar">
                Управление рассылками
            </a>
            <a href="" class="bar">
                Управление пользователями
            </a>
            <a href="" class="bar">
                Статистика
            </a>
        </div>
        <div class="menus_container">
            <div id="start-menu" class="menu_container">
                <div class="text_container">
                    Выберите пункт меню сверху
                </div>
            </div>
            <div id="menu-1" class="menu_container hiden">
                <div class="left_container">
                    <div class="button_container mb_30">
                        <a id="create-mailing" href="">
                            Создать рассылку
                        </a>
                    </div>
                    <div class="button_container mb_30">
                        <a id="edit-mailing" href="">
                            Обновить рассылку
                        </a>
                    </div>
                    <div class="button_container mb_30">
                        <a id="delete-mailing" href="">
                            Удалить рассылку
                        </a>
                    </div>
                </div>
                <div class="right_container hiden">
                    <div class="messages_container">
                        <div class="type_action_container">
                            
                        </div>
                        <div class="status_request">
                            
                        </div>
                    </div>
                    <div class="inputs_container">

                    </div>
                    <div class="button_container">
                        <a href="">Отправить</a>
                    </div>
                </div>
            </div>
            <div id="menu-2" class="menu_container hiden">
                <div class="left_container">
                    <div class="button_container mb_30">
                        <a id="create-client" href="">
                            Создать пользователя
                        </a>
                    </div>
                    <div class="button_container mb_30">
                        <a id="edit-client" href="">
                            Обновить пользователя
                        </a>
                    </div>
                    <div class="button_container mb_30">
                        <a id="delete-client" href="">
                            Удалить пользователя
                        </a>
                    </div>
                </div>
                <div class="right_container hiden">
                    <div class="messages_container">
                        <div class="type_action_container">
                            
                        </div>
                        <div class="status_request">
                            
                        </div>
                    </div>
                    <div class="inputs_container">

                    </div>
                    <div class="button_container">
                        <a href="">Отправить</a>
                    </div>
                </div>
            </div>
            <div id="menu-3" class="menu_container hiden">
                <div class="left_container">
                    <div class="button_container mb_45">
                        <a href="">
                            Вывести статистикку
                        </a>
                    </div>
                    <div class="button_input_container mb_45">
                        <div class="input_container mb_15">
                            <div>id:</div>
                            <input>
                        </div>
                        <div class="button_container">
                            <a href="">
                                Вывести подробную статистику
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right_container">
                    <div class="table_container">
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>