.main_container {
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 7px 4px 20px 0px;
    overflow: hidden;
}
.top_bar_conatiner {
    width: 100%;
    display: flex;
}
.bar {
    height: 30px;
    width: 33%;
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
}
.menu_container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.menus_container .menu_container .text_container {
    text-align: center;
    padding-top: 300px;
    font-size: 2rem;
}
.hiden {
    display: none;
}
.button_container, .button_input_container {
    display: flex;
    align-items: center;
}
.button_input_container { 
    flex-direction: column;
}
.button_container a, .button_input_container a{
    text-decoration: none;
    color: #0e131a;
    font-weight: 500;
    font-size: 1.1rem;
}
.button_container {
    border-radius: 7px;
    background-color: #15f63a;
    max-width: 300px;
    padding: 10px;
    justify-content: center;
}
.input_container {
    display: flex;
}
.row {
    display: flex;
    border-top-style: ridge;
}
.table_container .row:first-of-type {
    border-top-style: none!important;
}
.table_container {
    width: 1000px;
}

#menu-3 .right_container {
    overflow: scroll;
    max-width: 55%;
    max-height: 65vh;
}
.right_container {
    width: 55%;
    height: 65vh;
}
.cell {
    margin-right: 5px;
    padding: 10px 10px;
}
.unselected {
    background-color: #d3d3d3;
}
.cell_status {
    width: 40px;
}
.cell_date {
    width: 160px;
}
.cell_id {
    width: 20px;
}
.cell_msg {
    width: 350px;
}
.cell_tag {
    width: 35px;
}
.cell_client_id {
    width: 50px;
}
input {
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0px 10px;
    border-bottom-width: 1px;
    max-height: 20px;
}
.mb_30 {
    margin-bottom: 30px;
}
.mb_45 {
    margin-bottom: 45px;
}
.mb_15 {
    margin-bottom: 15px;
}
.type_action_container {
    font-size: 2rem;
    padding-bottom: 10px;
}
.status_request {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#menu-1 .input_container, #menu-2 .input_container {
    margin-bottom: 10px;
}
#menu-1 .input_container div {
    width: 70px;
}
#menu-2 .input_container div {
    width: 100px;
}
#start-menu {
    justify-content: center;
}